* {
    margin: 0;
    padding: 0;
}

.title {
    /* background-image: url(IITH.png); */
    background-color: rgba(41, 41, 255, 0.69);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 10vh;
    justify-content: space-between;
    color: aliceblue;



}

.content {
    height: 70vh;
    background-color: #cbb6e0;
    background: rgba(247, 247, 255, 0.69) url("background.jpeg") no-repeat;
    background-size: 100vw 70vh;

}

.logo {

    background: rgba(41, 41, 255, 0.69) url(logo.png) no-repeat;
}

pre {

    font-size: 3vw;
}

.a1 {
    height: 18vw;
    width: 30vw;
    border: 2px solid blue;
    margin: 7vw;
    font-size: 3vw;
    color: rgb(0, 50, 231);
}
.a2 {
    height: 8vw;
    width: 30vw;
    border: 2px solid blue;
    margin: 7vw;
    font-size: 3vw;
    color: rgb(234, 2, 153);

}

.one {
    display: flex;
    justify-content: space-between;
}
@keyframes waviy {
0%,40%,100% {
transform: translateY(0)
}
20% {
transform: translateY(-20px)
}
}
.title span {
font-family: 'Alfa Slab One', cursive;
position: relative;
display: inline-block;
color: #fff;
text-transform: uppercase;
animation: waviy 2s infinite;


}